@charset "utf-8";

h1{
  background-color:yellow;
  background:linear-gradient(blue 20%,green 30%);
  tex-shadow:5px 10px 2px blue;
}

h2{
  border:solid 2px #333333;
  padding:2%;
  word-wrap:break-word;
  border-radius:20px;
  box-shadow:10px 10px #888888;
}

p{
  font-size:130%;
}

strong{
  color:red;
}
